---

---

<div class="button-shelf">
    <slot />
</div>

<style>
    @view-transition::button-shelf {
    animation: fade 1s ease-in-out;
    }
    .button-shelf {
        background-color: oklch(var(--b2));
        border-radius: 10px;
        border: 0.125rem solid;
        border-color: oklch(var(--p));
        height: 2.5rem;
        position: fixed;
        top: 1.5vw;
        right: 1.5vw;
        z-index: 99998;
        transition: opacity 1s ease;
        flex-direction: row;
        min-width: 2.5rem;
        justify-items: right;
        place-items: right;
        align-items: center;
        row-gap: 0.5rem;
        display: none;
        opacity: 0;
    }
</style>

<script>
    const buttonShelf = document.querySelector('.button-shelf') as HTMLDivElement;
    setTimeout(() => {
        buttonShelf.style.display = 'flex';
        setTimeout(() => {
            buttonShelf.style.opacity = "1";
        }, 100);
    }, 250);
</script>