---

---

<div class="button-shelf">
    <div class="flex flex-row inline align-center text-center p-[0.15rem]">
        <slot />
    </div>
</div>

<style>
    @view-transition::button-shelf {
    animation: fade 1s ease-in-out;
    }
    .button-shelf {
        background-color: oklch(var(--b3));
        box-shadow: 0.125rem 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.694);
        border-radius: 0.25rem;
        border-bottom: 0.15rem solid;
        border-right: 0.15rem solid;
        border-color: rgb(40, 184, 0);
        height: 3rem;
        min-width: 3rem;
        position: fixed;
        top: 1.5vw;
        right: 1.5vw;
        z-index: 99998;
        transition: opacity 1s ease;
        display: none;
        opacity: 0;
    }

    @media screen and (max-width: 765px) {
        .button-shelf {
            top: 5rem;
            right: 0.5rem;
        }
        
    }
</style>

<script>
    const buttonShelf = document.querySelector('.button-shelf') as HTMLDivElement;
    setTimeout(() => {
        buttonShelf.style.display = 'block';
        setTimeout(() => {
            buttonShelf.style.opacity = "1";
        }, 100);
    }, 250);
</script>