---

---

<div class="button-shelf">
    <div class="flex flex-row inline align-center text-center p-[0.15rem]">
        <slot />
    </div>
</div>

<style>
    @view-transition::button-shelf {
    animation: fade 1s ease-in-out;
    }
    .button-shelf {
        background-color: oklch(var(--b2));
        border-radius: 0.25rem;
        border: 0.125rem solid;
        border-color: oklch(var(--p));
        height: 3rem;
        min-width: 3rem;
        position: fixed;
        top: 1.5vw;
        right: 1.5vw;
        z-index: 99998;
        transition: opacity 1s ease;
        display: none;
        opacity: 0;
    }
</style>

<script>
    const buttonShelf = document.querySelector('.button-shelf') as HTMLDivElement;
    setTimeout(() => {
        buttonShelf.style.display = 'block';
        setTimeout(() => {
            buttonShelf.style.opacity = "1";
        }, 100);
    }, 250);
</script>