---
import b from 'astro-feedback:branding';

const { AUTHOR, GITHUB } = b;
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2 opacity-75">
    <a href={GITHUB.LICENSE}>[<strong>MIT Licensed</strong>] Astro Feedback</a>
  </div>
  <div class="inline opacity-75">
    Developed by <a href={AUTHOR.url} target="_blank" class="font-bold">{AUTHOR.name}</a>
  </div>
</footer>
<style></style>