---
import branding from 'astro-feedback:branding';
import BuiltWithAstro from './icons/BuiltWithAstro.astro';

const { AUTHOR, GITHUB, SITE_TITLE } = branding;
---

<footer class="footer footer-center block pt-4 flex-col gap-4">
  <div class="pb-2 opacity-75">
    <span><a href={GITHUB.LICENSE}><strong>MIT Licensed</strong></a> ━ {SITE_TITLE}</span>
  </div>
  <div class="inline opacity-75">
    <span>Developed by <a href={AUTHOR.url} target="_blank" class="font-bold">{AUTHOR.name}</a></span>
  </div>
  <a class="mt-2" href="https://astro.build"><BuiltWithAstro title="Built with Astro"/></a>
</footer>