---
import branding from 'astro-feedback:branding';
import ExternalRedirectButton from './ExternalRedirectButton.astro';
import BuiltWithAstro from './icons/BuiltWithAstro.astro';

const { AUTHOR, GITHUB, SITE_TITLE } = branding;
---

<footer class="footer footer-center pt-8 flex-col gap-2">

  <div class="opacity-75">
    <span>
      <ExternalRedirectButton link={GITHUB.LICENSE}>
        <strong>MIT Licensed</strong>
      </ExternalRedirectButton>
       ━ {SITE_TITLE}</span>
  </div>

  <div class="opacity-75">
    <span>Developed by 
      <ExternalRedirectButton link={AUTHOR.url} class="font-bold">
        {AUTHOR.name}
      </ExternalRedirectButton>
    </span>
  </div>

  <ExternalRedirectButton link="https://astro.build">
    <BuiltWithAstro title="Built with Astro" />
  </ExternalRedirectButton>
  
</footer>