---
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2 opacity-75">
    <a href="https://github.com/MatthiesenXYZ/astro-feedback/blob/main/package/LICENSE.md">[<strong>MIT Licensed</strong>] Astro Feedback</a>
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://matthiesen.xyz" target="_blank" class="font-bold">Adam Matthiesen</a>
  </div>
</footer>
<style></style>