---
import type { RouteMap } from 'astro-feedback:routes';
import { Image } from 'astro:assets';
import Logo from '../assets/astrofeedback-logo.webp';
import { getLangFromUrl, useTranslations } from '../i18n';
import RedirectButton from './RedirectButton.astro';
import Heading from './headings/Heading.astro';
import GetIcon from './icons/GetIcon.astro';

interface Props {
	r: RouteMap;
}

const {
	r: {
		api: { login },
		base: { index },
	},
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'dashboard/login');
---
<Image 
src={Logo} 
alt="Astro Feedback Center Logo" 
height={300} 
width={300} 
loading={'eager'}
style={'scale: 1.2;'}
/>

<Heading tag={'h3'}>{t('title')}</Heading>

<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-xl text-center">
    <div class="card-body flex-col gap-4">
		<RedirectButton link={login}>
			<span class="btn btn-outline btn-info flex items-center">
				<span>{t('github')}</span>
				<GetIcon icon={'github'} class='h-[1.2rem] w-[1.2rem]'/>
			</span>
		</RedirectButton>
		<RedirectButton link={index}>
			<span class="btn btn-ghost flex items-center">
				<GetIcon icon={'back'} class='h-[1.2rem] w-[1.2rem]'/>
				<span>{t('back')}</span>
			</span>
		</RedirectButton>
    </div>
</div>