---
import { Image } from 'astro:assets';
import Logo from '../assets/astrofeedback-logo.webp';
import { getLangFromUrl, useTranslations } from '../i18n';
import SideBarMenu from './SideBarMenu.astro';

interface Props {
	sideBarActiveItemID?: string | undefined;
}

const { sideBarActiveItemID } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'components/side-bar');
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay">
    <div class="sr-only" id="ui-components-side-bar-sr-label">{t('sr-label')}</div>
  </label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-fit mx-auto my-2 p-2 px-4 rounded-lg bg-neutral flex items-center">
      <Image src={Logo} height={64} width={64} alt="Logo" loading={'eager'}/>
        <span class="text-2xl font-bold text-neutral-content">Astro Feedback</span>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
  </aside>
</div>
