---
import r from 'astro-feedback:routes';
import getUser from '../lib/getUser';

const { isLoggedIn } = await getUser(Astro);
---
<div 
  id="login-check" 
  style="display: none;" 
  data-isloggedin={`${isLoggedIn}`}
  data-redirectroute={r.portal.index}
  ></div>

<script is:inline>
  const loginCheck = document.getElementById('login-check');

  if (loginCheck.dataset.isloggedin === 'true') {
    window.location.href = loginCheck.dataset.redirectroute;
  }
</script>