---
import Span from '../headings/Span.astro';
---
<p class="mt-2">
    Collect & Manage Feedback with ease!
</p>

<p class="mt-2">
    Built using <Span variant={"accent"} fontWeight={'bold'}>Astro</Span> and <Span variant={'secondary'} fontWeight={'bold'}>AstroDB</Span>. Effortlessly collect feedback on your projects, then monitor and manage submissions through a streamlined dashboard. <Span variant={'primary'} fontWeight={'bold'}>Stay connected to your users and improve your work with real-time feedback.</Span>
</p>