---
import r from 'astro-feedback:routes';
import RedirectButton from '../RedirectButton.astro';
const {
	base: { feedback },
	portal: { login },
} = r;
---

<div class="card bg-base-100 w-full shadow-xl text-center mt-2">
    <div class="card-body flex flex-row">
        <RedirectButton link={login}>
            <span class="btn btn-outline btn-primary text-lg text-shadow shadow-black flex-grow">Sign in</span>
        </RedirectButton>
            
        <RedirectButton link={feedback}>
            <span class="btn btn-accent text-lg text-shadow shadow-black flex-grow">Submit Feedback</span>
        </RedirectButton>
    </div>
</div>