---
import Span from '../headings/Span.astro';
---
<p class="mt-2">
    Collect & Manage Feedback with Ease
</p>

<p class="mt-2">
    Built using <Span variant={"accent"} fontWeight={'semibold'}>Astro</Span> and <Span variant={'secondary'} fontWeight={'semibold'}>AstroDB</Span>. Effortlessly collect feedback on your projects, then monitor and manage submissions through a streamlined dashboard. <Span variant={'primary'} fontWeight={'bold'}>Stay connected to your users and improve your work with real-time feedback.</Span>
</p>

<ul class="mt-2 list-disc list-inside">
    <li><Span variant={"primary"} fontWeight={'semibold'}>Quick Setup</Span> <Span variant={'info'}>━</Span> Seamless integration into your existing projects.</li>
    <li><Span variant={"accent"} fontWeight={'semibold'}>Effortless Management</Span> <Span variant={'info'}>━</Span> View and track feedback in an intuitive dashboard.</li>
    <li><Span variant={"secondary"} fontWeight={'semibold'}>Real-Time Updates</Span> <Span variant={'info'}>━</Span> Stay connected to your users with instant feedback.</li>
</ul>