<div class="card bg-base-100 w-full shadow-xl text-center mt-2">
    <div class="card-body flex flex-row">
        <button 
            id="index-login" 
            class="btn btn-primary btn-outline text-lg text-shadow shadow-black flex-grow"
            >Sign In
        </button>
            
        <button 
            id="index-submit-feedback" 
            class="btn btn-outline btn-accent text-lg text-shadow shadow-black flex-grow"
            >Submit Feedback
        </button>
    </div>
</div>