---
import type { RouteMap } from 'astro-feedback:routes';
import type { tsSubmission } from '../../../db/tsTables';
import RedirectButton from '../RedirectButton.astro';
import GetIcon from '../icons/GetIcon.astro';

interface Props {
	routes: RouteMap;
	submission: typeof tsSubmission.$inferSelect;
}

const { submission, routes } = Astro.props;
---
<div class="card bg-base-300 shadow-xl my-2 p-2">
    <div class="flex flex-row">
        <div class="flex-grow">
            <h3 class="text-md font-bold">
                {submission.subject}
            </h3>
            <p class="text-sm">
                {submission.body.slice(0, 25)}...
            </p>
        </div>
        <div class="flex-none">
            <RedirectButton 
                link={`${routes.portal.projects.index}/${submission.projectId}/submissions/${submission.id}`} 
                class="btn btn-primary"
                >
                <GetIcon icon={'view'} class='h-[1.5rem] w-[1.5rem]'/>
            </RedirectButton>
        </div>
    </div>
</div>