---
import { routeGenerator } from 'astro-feedback:routes';
import type { tsSubmission } from '../../../db/tsTables';
import { getLangFromUrl, useTranslatedPath } from '../../i18n';
import RedirectButton from '../RedirectButton.astro';
import GetIcon from '../icons/GetIcon.astro';

interface Props {
	submission: typeof tsSubmission.$inferSelect;
}

const { submission } = Astro.props;
// Get the language and translations
const referer = Astro.request.headers.get('referer');

if (!referer) {
	throw new Error('No referer found');
}

const lang = getLangFromUrl(new URL(referer));
const translatePath = useTranslatedPath(lang);
const {
	portal: { submissions },
} = routeGenerator();
---
<div class="card bg-base-300 shadow-xl my-2 p-2">
    <div class="flex flex-row">
        <div class="flex-grow">
            <h3 class="text-md font-bold">
                {submission.subject}
            </h3>
            <p class="text-sm">
                {submission.body.slice(0, 25)}...
            </p>
        </div>
        <div class="flex-none">
            <RedirectButton 
                link={translatePath(submissions(submission.projectId, submission.id).viewSubmission)} 
                class="btn btn-primary"
                >
                <GetIcon icon={'view'} class='h-[1.5rem] w-[1.5rem]'/>
            </RedirectButton>
        </div>
    </div>
</div>