---
import { getLangFromUrl, useTranslations } from '../../i18n';

// Get the language and translations
const referer = Astro.request.headers.get('referer');

if (!referer) {
	throw new Error('No referer found');
}

const lang = getLangFromUrl(new URL(referer));
const t = useTranslations(lang, 'components/user-widget');
---
<div class="card bg-base-300 shadow-xl my-2 py-6">
    <div class="flex flex-row">
        <div class="flex-grow">
            <p class="text-sm">{t('no-projects')}</p>
        </div>
    </div>
</div>