---
---
<div class="card bg-base-300 shadow-xl my-2 py-6">
    <div class="flex flex-row">
        <div class="flex-grow">
            <p class="text-sm">No open submissions</p>
        </div>
    </div>
</div>