---
import { getLangFromUrl, useTranslations } from '../../i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'components/user-widget');
---
<div class="card bg-base-300 shadow-xl my-2 py-6">
    <div class="flex flex-row">
        <div class="flex-grow">
            <p class="text-sm">{t('no-submissions')}</p>
        </div>
    </div>
</div>
