---
import branding from 'astro-feedback:branding';
import HorizontalContainer from './components/HorizontalContainer.astro';
import Heading from './components/headings/Heading.astro';
import Landing from './components/landing/Landing.astro';
import BaseLayout from './layouts/BaseLayout.astro';

const { SITE_TITLE } = branding;
---

<BaseLayout 
    sideBarActiveItemID="home" 
    includeSidebar={false} 
    includeHeader={false}
    >

    <HorizontalContainer>

        <Landing part={'logo'} />
            
        <div>
            <Heading tag={'h2'}>Welcome to the</Heading>

            <Heading tag={'h1'}>{SITE_TITLE}</Heading>
            
            <Landing part={'description'} />
            
            <Landing part={'buttoncard'} />
        </div>
    
    </HorizontalContainer>

</BaseLayout>
