---
import { Image } from 'astro:assets';
import Logo from './assets/astrofeedback-logo.webp';
import PublicSubmissionForm from './components/PublicSubmissionForm.astro';
import VerticalContainer from './components/VerticalContainer.astro';
import Heading from './components/headings/Heading.astro';
import { getLangFromUrl, useTranslations } from './i18n';
import BaseLayout from './layouts/BaseLayout.astro';

export async function getStaticPaths() {
	return [
		{ params: { locale: undefined } },
		{ params: { locale: 'en' } },
		{ params: { locale: 'es' } },
	];
}
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'public/submit-feedback');
---

<BaseLayout sideBarActiveItemID="submit-feedback-public">

  <VerticalContainer>

    <div class="flex flex-col w-full gap-2">

        <div class="flex flex-row text-center">
            <Heading tag={'h1'}>{t('title')}</Heading>
            <Image src={Logo} alt="Logo" width={64} height={64} loading={'eager'}/>
        </div>

        <p class="text-center">
            {t('description')}
        </p>

        <div class="divider my-0" />

        <div class="card bg-base-100 w-full shadow-xl">

            <PublicSubmissionForm server:defer>
                <slot name="fallback">
                    <div class="p-4">
                        {t('form-preload')}
                    </div>
                </slot>
            </PublicSubmissionForm>

        </div>

    </div>

  </VerticalContainer>

</BaseLayout>