---
import type { RouteMap } from 'astro-feedback:routes';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SideBar from '../components/SideBar.astro';

interface Props {
	includeHeader: boolean;
	includeSidebar: boolean;
	sideBarActiveItemID?: string | undefined;
	r: RouteMap;
}

const { includeHeader, includeSidebar, r, sideBarActiveItemID } = Astro.props;
---
<div class="drawer-content bg-base-100">
    { includeHeader &&  <Header {r} {includeSidebar}/> }

    <div class="md:flex md:justify-center">
    
        <main class="p-6 pt-10 lg:max-w-[1000px] max-w-[100vw]">
    
            <slot />
    
        </main>
    
    </div>

    <Footer />

</div>
{ includeSidebar && <SideBar {r} {sideBarActiveItemID} /> }